body {
    font-family: Arial, sans-serif;
    background-color: #1F2937;
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button{
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
    margin-top: 2em;
}

.bingo-card {
    display: flex; 
    justify-content: center;
    padding: 0;
    border: 1px solid #c9c9c9;
    margin-bottom: 20px;
    color: #000000;
}

.bingo-card p{
    color: #ffffff;
    justify-content: left;
}

.bingo-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 16px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
}

.bingo-number.matched-number {
    background-color: #4caf50; 
}

.player-table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    background-color: #4697cd;
    color: #ffffff;
    font-weight: bold;
}
